# Terrorisme mondial ML

---
## Importation des librairies

In [41]:
import pandas as pd
from sklearn.gaussian_process import GaussianProcessClassifier as GPC
from sklearn.model_selection import train_test_split as tts
from sklearn.decomposition import PCA
from sklearn.neighbors import KNeighborsClassifier as KNN

---
## Importation du jeu de données

In [42]:
gb = pd.read_csv("/home/vincent/Hitema/datasets/globalterrorismdb_0718dist.csv", encoding='ISO-8859-1')

/home/vincent/.local/share/virtualenvs/MachineLearning-ZUDzaG3C/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (4,6,31,33,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

---
## Informations du jeu de données

In [43]:
gb.info(verbose='true')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Data columns (total 135 columns):
 #   Column              Dtype
---  ------              -----
 0   eventid             int64
 1   iyear               int64
 2   imonth              int64
 3   iday                int64
 4   approxdate          object
 5   extended            int64
 6   resolution          object
 7   country             int64
 8   country_txt         object
 9   region              int64
 10  region_txt          object
 11  provstate           object
 12  city                object
 13  latitude            float64
 14  longitude           float64
 15  specificity         float64
 16  vicinity            int64
 17  location            object
 18  summary             object
 19  crit1               int64
 20  crit2               int64
 21  crit3               int64
 22  doubtterr           float64
 23  alternative         float64
 24  alternative_txt     object
 25  multiple            float64
 26  success             int64
 27  suicide             int64
 28  attacktype1         int64
 29  attacktype1_txt     object
 30  attacktype2         float64
 31  attacktype2_txt     object
 32  attacktype3         float64
 33  attacktype3_txt     object
 34  targtype1           int64
 35  targtype1_txt       object
 36  targsubtype1        float64
 37  targsubtype1_txt    object
 38  corp1               object
 39  target1             object
 40  natlty1             float64
 41  natlty1_txt         object
 42  targtype2           float64
 43  targtype2_txt       object
 44  targsubtype2        float64
 45  targsubtype2_txt    object
 46  corp2               object
 47  target2             object
 48  natlty2             float64
 49  natlty2_txt         object
 50  targtype3           float64
 51  targtype3_txt       object
 52  targsubtype3        float64
 53  targsubtype3_txt    object
 54  corp3               object
 55  target3             object
 56  natlty3             float64
 57  natlty3_txt         object
 58  gname               object
 59  gsubname            object
 60  gname2              object
 61  gsubname2           object
 62  gname3              object
 63  gsubname3           object
 64  motive              object
 65  guncertain1         float64
 66  guncertain2         float64
 67  guncertain3         float64
 68  individual          int64
 69  nperps              float64
 70  nperpcap            float64
 71  claimed             float64
 72  claimmode           float64
 73  claimmode_txt       object
 74  claim2              float64
 75  claimmode2          float64
 76  claimmode2_txt      object
 77  claim3              float64
 78  claimmode3          float64
 79  claimmode3_txt      object
 80  compclaim           float64
 81  weaptype1           int64
 82  weaptype1_txt       object
 83  weapsubtype1        float64
 84  weapsubtype1_txt    object
 85  weaptype2           float64
 86  weaptype2_txt       object
 87  weapsubtype2        float64
 88  weapsubtype2_txt    object
 89  weaptype3           float64
 90  weaptype3_txt       object
 91  weapsubtype3        float64
 92  weapsubtype3_txt    object
 93  weaptype4           float64
 94  weaptype4_txt       object
 95  weapsubtype4        float64
 96  weapsubtype4_txt    object
 97  weapdetail          object
 98  nkill               float64
 99  nkillus             float64
 100 nkillter            float64
 101 nwound              float64
 102 nwoundus            float64
 103 nwoundte            float64
 104 property            int64
 105 propextent          float64
 106 propextent_txt      object
 107 propvalue           float64
 108 propcomment         object
 109 ishostkid           float64
 110 nhostkid            float64
 111 nhostkidus          float64
 112 nhours              float64
 113 ndays               float64
 114 divert              object
 115 kidhijcountry       object
 116 ransom              float64
 117 ransomamt           float64
 118 ransomamtus         float64
 119 ransompaid          float64
 120 ransompaidus        float64
 121 ransomnote          object
 122 hostkidoutcome      float64
 123 hostkidoutcome_txt  object
 124 nreleased           float64
 125 addnotes            object
 126 scite1              object
 127 scite2              object
 128 scite3              object
 129 dbsource            object
 130 INT_LOG             int64
 131 INT_IDEO            int64
 132 INT_MISC            int64
 133 INT_ANY             int64
 134 related             object
dtypes: float64(55), int64(22), object(58)
memory usage: 187.1+ MB

In [44]:
gb.head()

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,197001000001,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,197001000002,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,197001000003,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN

---
## Suppression des colonnes non utilisées

In [45]:
terrorism = gb.drop(columns={'approxdate',
                            'resolution',
                            'location',
                            'summary',
                            'alternative',
                            'alternative_txt',
                            'attacktype2',
                            'attacktype2_txt',
                            'attacktype3',
                            'attacktype3_txt',
                            'corp1',
                            'targtype2',
                            'targtype2_txt',
                            'targsubtype2',
                            'targsubtype2_txt',
                            'corp2',
                            'target2',
                            'natlty2',
                            'natlty2_txt',
                            'targtype3',
                            'targtype3_txt',
                            'targsubtype3',
                            'targsubtype3_txt',
                            'corp3',
                            'target3',
                            'natlty3',
                            'natlty3_txt',
                            'gsubname',
                            'gname2',
                            'gsubname2',
                            'gname3',
                            'gsubname3',
                            'motive',
                            'guncertain2',
                            'guncertain3',
                            'nperpcap',
                            'claimmode',
                            'claimmode_txt',
                            'claim2',
                            'claimmode2',
                            'claimmode2_txt',
                            'claim3',
                            'claimmode3',
                            'claimmode3_txt',
                            'compclaim',
                            'weaptype2',
                            'weaptype2_txt',
                            'weapsubtype2',
                            'weapsubtype2_txt',
                            'weaptype3',
                            'weaptype3_txt',
                            'weapsubtype3',
                            'weapsubtype3_txt',
                            'weaptype4',
                            'weaptype4_txt',
                            'weapsubtype4',
                            'weapsubtype4_txt',
                            'nkillus',
                            'nkillter',
                            'nwoundus',
                            'nwoundte',
                            'property',
                            'propextent',
                            'propextent_txt',
                            'propvalue',
                            'propcomment',
                            'ishostkid',
                            'nhostkid',
                            'nhostkidus',
                            'nhours',
                            'ndays',
                            'divert',
                            'kidhijcountry',
                            'ransom',
                            'ransomamt',
                            'ransomamtus',
                            'ransompaid',
                            'ransompaidus',
                            'ransomnote',
                            'hostkidoutcome',
                            'hostkidoutcome_txt',
                            'nreleased',
                            'addnotes',
                            'scite1',
                            'scite2',
                            'scite3',
                            'INT_LOG',
                            'INT_IDEO',
                            'INT_MISC',
                            'INT_ANY',
                            'related',
                            'dbsource',
                            'eventid',
                            'iyear',
                            'imonth',
                            'iday',
                            'extended',
                            'provstate',
                            'latitude',
                            'longitude',
                            'specificity',
                            'vicinity',
                            'crit1',
                            'crit2',
                            'crit3',
                            'doubtterr',
                            'multiple',
                            'success',
                            'guncertain1',
                            'individual',
                            'claimed',
                            'weaptype1',
                            'weapsubtype1',
                            'weapsubtype1_txt',
                            'weapdetail',
                            'country_txt',
                            'region_txt',
                            'city',
                            'attacktype1_txt',
                            'targtype1_txt',
                            'targsubtype1',
                            'targsubtype1_txt',
                            'target1',
                            'natlty1_txt'
                      })

---
## Infos du jeu de données reformaté

In [46]:
terrorism.info(verbose='true')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Data columns (total 11 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   country        181691 non-null  int64
 1   region         181691 non-null  int64
 2   suicide        181691 non-null  int64
 3   attacktype1    181691 non-null  int64
 4   targtype1      181691 non-null  int64
 5   natlty1        180132 non-null  float64
 6   gname          181691 non-null  object
 7   nperps         110576 non-null  float64
 8   weaptype1_txt  181691 non-null  object
 9   nkill          171378 non-null  float64
 10  nwound         165380 non-null  float64
dtypes: float64(4), int64(5), object(2)
memory usage: 15.2+ MB

In [47]:
terrorism.head()

,country,region,suicide,attacktype1,targtype1,natlty1,gname,nperps,weaptype1_txt,nkill,nwound
0,58,2,0,1,14,58.0,MANO-D,NaN,Unknown,1.0,0.0
1,130,1,0,6,7,21.0,23rd of September Communist League,7.0,Unknown,0.0,0.0
2,160,5,0,1,10,217.0,Unknown,NaN,Unknown,1.0,0.0
3,78,8,0,3,7,217.0,Unknown,NaN,Explosives,NaN,NaN
4,101,4,0,7,7,217.0,Unknown,NaN,Incendiary,NaN,NaN

In [48]:
terrorism = terrorism.dropna()
terrorism.isna()

,country,region,suicide,attacktype1,targtype1,natlty1,gname,nperps,weaptype1_txt,nkill,nwound
1,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
181686,False,False,False,False,False,False,False,False,False,False,False
181687,False,False,False,False,False,False,False,False,False,False,False
181688,False,False,False,False,False,False,False,False,False,False,False
181689,False,False,False,False,False,False,False,False,False,False,False
181690,False,False,False,False,False,False,False,False,False,False,False

In [49]:
terrorism['attacktype1'].nunique()

9

In [50]:
def get_accuracy(preds, target):
    m = target.shape[0] # nombre d'exemples
    total_correct = (preds == target).sum()
    accuracy = total_correct / m
    return str(round(accuracy * 100, 2)) + "%"

### On convertit les classes en code numérique

In [51]:
classes_group = terrorism['gname'].astype('category').cat.categories
weapon_classes = terrorism['weaptype1_txt'].astype('category').cat.categories

In [52]:
terrorism['gname'] = terrorism['gname'].astype('category').cat.codes
terrorism['weaptype1_txt'] = terrorism['weaptype1_txt'].astype('category').cat.codes
terrorism.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 101402 entries, 1 to 181690
Data columns (total 11 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   country        101402 non-null  int64
 1   region         101402 non-null  int64
 2   suicide        101402 non-null  int64
 3   attacktype1    101402 non-null  int64
 4   targtype1      101402 non-null  int64
 5   natlty1        101402 non-null  float64
 6   gname          101402 non-null  int16
 7   nperps         101402 non-null  float64
 8   weaptype1_txt  101402 non-null  int8
 9   nkill          101402 non-null  float64
 10  nwound         101402 non-null  float64
dtypes: float64(4), int16(1), int64(5), int8(1)
memory usage: 8.0 MB

In [53]:
terrorism = terrorism.iloc[:10000]
terrorism.shape

(10000, 11)

In [54]:
y = terrorism['attacktype1']
x = terrorism.drop(columns='attacktype1')
x.shape, y.shape

((10000, 10), (10000,))

In [55]:
x_tr, x_te, y_tr, y_te = tts(x, y, stratify=y, train_size=0.5)

In [56]:
pca = PCA()
pca.fit(x_tr)
x_tr_pca = pca.transform(x_tr)
x_te_pca = pca.transform(x_te)

In [57]:
gpc = GPC()
knn = KNN(n_neighbors=3)

In [58]:
#gpc.fit(x_tr_pca, y_tr)
knn.fit(x_tr_pca, y_tr)

KNeighborsClassifier(n_neighbors=3)

In [59]:
# preds = gpc.predict(x_te_pca)
preds = knn.predict(x_te_pca)

In [60]:
get_accuracy(preds, y_te)

'52.94%'