In [46]:
import pandas as pd
import numpy as np
import seaborn as sn

In [47]:
firms = pd.read_csv("/home/vincent/Hitema/datasets/2989_5652_bundle_archive/base_etablissement_par_tranche_effectif.csv")
towns = pd.read_csv("/home/vincent/Hitema/datasets/2989_5652_bundle_archive/name_geographic_information.csv")
salaries = pd.read_csv("/home/vincent/Hitema/datasets/2989_5652_bundle_archive/net_salary_per_town_categories.csv")
population = pd.read_csv("/home/vincent/Hitema/datasets/2989_5652_bundle_archive/population.csv")

/home/vincent/.local/share/virtualenvs/MachineLearning-ZUDzaG3C/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [48]:
firms.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36681 entries, 0 to 36680
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   CODGEO    36681 non-null  object
 1   LIBGEO    36681 non-null  object
 2   REG       36681 non-null  int64
 3   DEP       36681 non-null  object
 4   E14TST    36681 non-null  int64
 5   E14TS0ND  36681 non-null  int64
 6   E14TS1    36681 non-null  int64
 7   E14TS6    36681 non-null  int64
 8   E14TS10   36681 non-null  int64
 9   E14TS20   36681 non-null  int64
 10  E14TS50   36681 non-null  int64
 11  E14TS100  36681 non-null  int64
 12  E14TS200  36681 non-null  int64
 13  E14TS500  36681 non-null  int64
dtypes: int64(11), object(3)
memory usage: 3.9+ MB

In [49]:
firms.describe()

,REG,E14TST,E14TS0ND,E14TS1,E14TS6,E14TS10,E14TS20,E14TS50,E14TS100,E14TS200,E14TS500
count,36681.000000,36681.000000,36681.000000,36681.000000,36681.000000,36681.000000,36681.000000,36681.000000,36681.000000,36681.000000,36681.000000
mean,49.415365,123.456067,83.555301,27.291486,5.220550,3.800333,2.296448,0.738339,0.332434,0.172760,0.048417
std,25.451207,2353.384846,1729.874812,432.062116,83.685519,60.961216,32.597382,9.882131,4.850211,2.783668,1.091031
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,25.000000,8.000000,6.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,43.000000,19.000000,14.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,73.000000,54.000000,39.000000,11.000000,2.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
max,94.000000,427385.000000,316603.000000,76368.000000,14836.000000,10829.000000,5643.000000,1658.000000,812.000000,456.000000,180.000000

In [50]:
towns.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36840 entries, 0 to 36839
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   EU_circo                36840 non-null  object
 1   code_région             36840 non-null  int64
 2   nom_région              36840 non-null  object
 3   chef.lieu_région        36840 non-null  object
 4   numéro_département      36840 non-null  object
 5   nom_département         36840 non-null  object
 6   préfecture              36840 non-null  object
 7   numéro_circonscription  36840 non-null  int64
 8   nom_commune             36840 non-null  object
 9   codes_postaux           36840 non-null  object
 10  code_insee              36840 non-null  int64
 11  latitude                33911 non-null  float64
 12  longitude               33999 non-null  object
 13  éloignement             33878 non-null  float64
dtypes: float64(2), int64(3), object(9)
memory usage: 3.9+ MB

In [51]:
towns.describe()

,code_région,numéro_circonscription,code_insee,latitude,éloignement
count,36840.000000,36840.000000,36840.000000,33911.000000,33878.000000
mean,49.409881,3.818594,46298.368621,47.000659,1.471278
std,25.475629,3.042461,25529.124657,2.209990,0.558343
min,1.000000,1.000000,1001.000000,41.391667,-1.000000
25%,25.000000,2.000000,24576.750000,45.216667,1.140000
50%,43.000000,3.000000,48190.500000,47.433333,1.480000
75%,73.000000,5.000000,67043.250000,48.850000,1.820000
max,94.000000,24.000000,97617.000000,51.083333,3.000000

In [52]:
salaries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5136 entries, 0 to 5135
Data columns (total 26 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CODGEO     5136 non-null   object
 1   LIBGEO     5136 non-null   object
 2   SNHM14     5136 non-null   float64
 3   SNHMC14    5136 non-null   float64
 4   SNHMP14    5136 non-null   float64
 5   SNHME14    5136 non-null   float64
 6   SNHMO14    5136 non-null   float64
 7   SNHMF14    5136 non-null   float64
 8   SNHMFC14   5136 non-null   float64
 9   SNHMFP14   5136 non-null   float64
 10  SNHMFE14   5136 non-null   float64
 11  SNHMFO14   5136 non-null   float64
 12  SNHMH14    5136 non-null   float64
 13  SNHMHC14   5136 non-null   float64
 14  SNHMHP14   5136 non-null   float64
 15  SNHMHE14   5136 non-null   float64
 16  SNHMHO14   5136 non-null   float64
 17  SNHM1814   5136 non-null   float64
 18  SNHM2614   5136 non-null   float64
 19  SNHM5014   5136 non-null   float64
 20  SNHMF1814  5136 non-null   float64
 21  SNHMF2614  5136 non-null   float64
 22  SNHMF5014  5136 non-null   float64
 23  SNHMH1814  5136 non-null   float64
 24  SNHMH2614  5136 non-null   float64
 25  SNHMH5014  5136 non-null   float64
dtypes: float64(24), object(2)
memory usage: 1.0+ MB

In [53]:
salaries.describe()

,SNHM14,SNHMC14,SNHMP14,SNHME14,SNHMO14,SNHMF14,SNHMFC14,SNHMFP14,SNHMFE14,SNHMFO14,...,SNHMHO14,SNHM1814,SNHM2614,SNHM5014,SNHMF1814,SNHMF2614,SNHMF5014,SNHMH1814,SNHMH2614,SNHMH5014
count,5136.000000,5136.000000,5136.000000,5136.000000,5136.000000,5136.000000,5136.000000,5136.000000,5136.000000,5136.000000,...,5136.000000,5136.000000,5136.000000,5136.00000,5136.000000,5136.000000,5136.000000,5136.000000,5136.000000,5136.000000
mean,13.706386,23.703836,14.575876,10.564505,11.235650,12.038026,20.220502,13.274260,10.308879,9.827161,...,11.498189,9.549766,13.495444,15.87722,9.161565,12.055160,13.174143,9.820872,14.485981,17.679809
std,2.559329,2.836183,1.490110,0.811775,1.221755,1.787995,2.327550,0.990166,0.747563,1.104684,...,1.289598,0.997444,2.363144,3.58586,0.453023,1.825306,2.249391,1.539949,2.852490,4.530257
min,10.200000,16.000000,11.600000,8.700000,8.300000,9.300000,12.000000,10.600000,8.700000,6.100000,...,8.900000,7.900000,9.700000,10.50000,7.500000,9.100000,9.500000,7.800000,9.600000,10.800000
25%,12.100000,21.900000,13.800000,10.000000,10.600000,10.900000,18.800000,12.600000,9.800000,9.200000,...,10.800000,9.200000,12.000000,13.70000,8.900000,10.900000,11.700000,9.400000,12.700000,14.900000
50%,13.000000,23.200000,14.400000,10.400000,11.000000,11.500000,20.000000,13.100000,10.100000,9.700000,...,11.300000,9.500000,12.900000,15.00000,9.100000,11.600000,12.600000,9.700000,13.800000,16.600000
75%,14.400000,24.900000,15.100000,10.900000,11.600000,12.700000,21.400000,13.800000,10.600000,10.200000,...,11.900000,9.700000,14.300000,16.90000,9.400000,12.700000,14.000000,10.000000,15.500000,19.000000
max,43.300000,51.500000,54.600000,17.500000,46.300000,26.700000,35.500000,19.000000,16.100000,28.100000,...,53.200000,60.600000,38.100000,56.90000,12.000000,26.600000,31.000000,93.300000,45.400000,68.600000

In [54]:
population.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8536584 entries, 0 to 8536583
Data columns (total 7 columns):
 #   Column     Dtype
---  ------     -----
 0   NIVGEO     object
 1   CODGEO     object
 2   LIBGEO     object
 3   MOCO       int64
 4   AGEQ80_17  int64
 5   SEXE       int64
 6   NB         int64
dtypes: int64(4), object(3)
memory usage: 455.9+ MB

In [55]:
population.describe()

               MOCO     AGEQ80_17       SEXE            NB
count  8.536584e+06  8.536584e+06  8536584.0  8.536584e+06
mean   2.171429e+01  4.000000e+01        1.5  7.446743e+00
std    7.591618e+00  2.449490e+01        0.5  1.010993e+02
min    1.100000e+01  0.000000e+00        1.0  0.000000e+00
25%    1.200000e+01  2.000000e+01        1.0  0.000000e+00
50%    2.200000e+01  4.000000e+01        1.5  0.000000e+00
75%    3.100000e+01  6.000000e+01        2.0  3.000000e+00
max    3.200000e+01  8.000000e+01        2.0  4.887300e+04

In [56]:
mapping = {
    'E14TST': 'total_firms',
    'E14TS0ND': 'nb_unk_town',
    'E14TS1': '1_5_employees',
    'E14TS6': '6_9_employees',
    'E14TS10': '10_19_employees',
    'E14TS20': '20_49_employees',
    'E14TS50': '50_99_employees',
    'E14TS100': '100_199_employees',
    'E14TS200': '200_499_employees',
    'E14TS500': 'more_500_employees'
}

firms = firms.rename(columns=mapping)

In [57]:
firms.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36681 entries, 0 to 36680
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   CODGEO              36681 non-null  object
 1   LIBGEO              36681 non-null  object
 2   REG                 36681 non-null  int64
 3   DEP                 36681 non-null  object
 4   total_firms         36681 non-null  int64
 5   nb_unk_town         36681 non-null  int64
 6   1_5_employees       36681 non-null  int64
 7   6_9_employees       36681 non-null  int64
 8   10_19_employees     36681 non-null  int64
 9   20_49_employees     36681 non-null  int64
 10  50_99_employees     36681 non-null  int64
 11  100_199_employees   36681 non-null  int64
 12  200_499_employees   36681 non-null  int64
 13  more_500_employees  36681 non-null  int64
dtypes: int64(11), object(3)
memory usage: 3.9+ MB

In [58]:
mapping = {
    'SNHM14': 'mean_salary',
    'SNHMC14': 'executive',
    'SNHMP14': 'middle_manager',
    'SNHME14': 'employee',
    'SNHMO14': 'worker',
    'SNHMF14': 'women',
    'SNHMFC14': 'f_executive',
    'SNHMFP14': 'f_middle_manager',
    'SNHMFE14': 'f_employee',
    'SNHMFO14': 'f_worker',
    'SNHMH14': 'man',
    'SNHMHC14': 'm_executive',
    'SNHMHP14': 'm_middle_manager',
    'SNHMHE14': 'm_employee',
    'SNHMHO14': 'm_worker',
    'SNHM1814': '18-25y',
    'SNHM2614': '26-50y',
    'SNHM5014': 'sup_50y',
    'SNHMF1814': 'f_18-25y',
    'SNHMF2614': 'f_26-50y',
    'SNHMF5014': 'f_sup_50y',
    'SNHMH1814': 'm_18-25y',
    'SNHMH2614': 'm_26-50y',
    'SNHMH5014': 'm_sup_50y'
}

salaries = salaries.rename(columns=mapping)

In [59]:
salaries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5136 entries, 0 to 5135
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CODGEO            5136 non-null   object
 1   LIBGEO            5136 non-null   object
 2   mean_salary       5136 non-null   float64
 3   executive         5136 non-null   float64
 4   middle_manager    5136 non-null   float64
 5   employee          5136 non-null   float64
 6   worker            5136 non-null   float64
 7   women             5136 non-null   float64
 8   f_executive       5136 non-null   float64
 9   f_middle_manager  5136 non-null   float64
 10  f_employee        5136 non-null   float64
 11  f_worker          5136 non-null   float64
 12  man               5136 non-null   float64
 13  m_executive       5136 non-null   float64
 14  m_middle_manager  5136 non-null   float64
 15  m_employee        5136 non-null   float64
 16  m_worker          5136 non-null   float64
 17  18-25y            5136 non-null   float64
 18  26-50y            5136 non-null   float64
 19  sup_50y           5136 non-null   float64
 20  f_18-25y          5136 non-null   float64
 21  f_26-50y          5136 non-null   float64
 22  f_sup_50y         5136 non-null   float64
 23  m_18-25y          5136 non-null   float64
 24  m_26-50y          5136 non-null   float64
 25  m_sup_50y         5136 non-null   float64
dtypes: float64(24), object(2)
memory usage: 1.0+ MB