# Merging Data avec Pandas

In [2]:
import seaborn as sn
import pandas as pd
import numpy as np
import streamlit as sl
import folium as fl

## Importer les dataset

In [3]:
csv_path = "/home/vincent/Hitema/Cours/Machine Learning/"
user_device = pd.read_csv(csv_path + "user_device.csv")
user_usage = pd.read_csv(csv_path + "user_usage.csv")
android_devices = pd.read_csv(csv_path + "android_devices.csv")

## Infos des datasets

In [4]:
user_device.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 272 entries, 0 to 271
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   use_id            272 non-null    int64
 1   user_id           272 non-null    int64
 2   platform          272 non-null    object
 3   platform_version  272 non-null    float64
 4   device            272 non-null    object
 5   use_type_id       272 non-null    int64
dtypes: float64(1), int64(3), object(2)
memory usage: 12.9+ KB

In [5]:
user_usage.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   outgoing_mins_per_month  240 non-null    float64
 1   outgoing_sms_per_month   240 non-null    float64
 2   monthly_mb               240 non-null    float64
 3   use_id                   240 non-null    int64
dtypes: float64(3), int64(1)
memory usage: 7.6 KB

In [6]:
android_devices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14546 entries, 0 to 14545
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Retail Branding  14542 non-null  object
 1   Marketing Name   13375 non-null  object
 2   Device           14546 non-null  object
 3   Model            14546 non-null  object
dtypes: object(4)
memory usage: 454.7+ KB

In [7]:
user_device.describe()

             use_id       user_id  platform_version  use_type_id
count    272.000000    272.000000        272.000000   272.000000
mean   22917.500000  26583.095588          6.917647     1.654412
std       78.663842   5737.037885          2.144877     0.858031
min    22782.000000   2873.000000          4.100000     1.000000
25%    22849.750000  26770.500000          5.100000     1.000000
50%    22917.500000  29610.000000          6.000000     1.000000
75%    22985.250000  29680.250000          9.300000     3.000000
max    23053.000000  29727.000000         10.200000     3.000000

In [8]:
user_usage.describe()

,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb,use_id
count,240.000000,240.000000,240.000000,240.000000
mean,274.559167,98.968292,3628.602042,23285.516667
std,293.745744,111.172685,4486.311513,624.139253
min,0.500000,0.250000,0.000000,22787.000000
25%,74.590000,29.030000,1132.230000,22888.750000
50%,189.705000,70.775000,1797.975000,22987.500000
75%,336.045000,125.627500,4246.617500,23482.500000
max,1816.630000,906.920000,31146.670000,25220.000000

In [9]:
android_devices.describe()

       Retail Branding Marketing Name  Device    Model
count            14542          13375   14546    14546
unique             605           8631    9830    12883
top            Samsung      Galaxy S3  mt5880  LG-P970
freq              1762             38      59       23

## Renommer la colonne Branding de android_devices

In [10]:
android_devices = android_devices.rename(columns={"Retail Branding": "Manufacturer"})
android_devices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14546 entries, 0 to 14545
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Manufacturer    14542 non-null  object
 1   Marketing Name  13375 non-null  object
 2   Device          14546 non-null  object
 3   Model           14546 non-null  object
dtypes: object(4)
memory usage: 454.7+ KB

## Afficher les dataset

In [11]:
user_device.head(10)

   use_id  user_id platform  platform_version     device  use_type_id
0   22782    26980      ios              10.2  iPhone7,2            2
1   22783    29628  android               6.0    Nexus 5            3
2   22784    28473  android               5.1   SM-G903F            1
3   22785    15200      ios              10.2  iPhone7,2            3
4   22786    28239  android               6.0  ONE E1003            1
5   22787    12921  android               4.3   GT-I9505            1
6   22788    28714  android               6.0   SM-G930F            1
7   22789    28714  android               6.0   SM-G930F            1
8   22790    29592  android               5.1      D2303            1
9   22791    28775      ios              10.2  iPhone6,2            3

In [12]:
user_usage.head(10)

   outgoing_mins_per_month  outgoing_sms_per_month  monthly_mb  use_id
0                    21.97                    4.82     1557.33   22787
1                  1710.08                  136.88     7267.55   22788
2                  1710.08                  136.88     7267.55   22789
3                    94.46                   35.17      519.12   22790
4                    71.59                   79.26     1557.33   22792
5                    71.59                   79.26     1557.33   22793
6                    71.59                   79.26      519.12   22794
7                    71.59                   79.26      519.12   22795
8                    30.92                   22.77     3114.67   22799
9                    69.80                   14.70    25955.55   22801

In [13]:
android_devices.head(10)

,Manufacturer,Marketing Name,Device,Model
0,NaN,NaN,AD681H,Smartfren Andromax AD681H
1,NaN,NaN,FJL21,FJL21
2,NaN,NaN,T31,Panasonic T31
3,NaN,NaN,hws7721g,MediaPad 7 Youth 2
4,3Q,OC1020A,OC1020A,OC1020A
5,7Eleven,IN265,IN265,IN265
6,A.O.I. ELECTRONICS FACTORY,A.O.I.,TR10CS1_11,TR10CS1
7,AG Mobile,AG BOOST 2,BOOST2,E4010
8,AG Mobile,AG Flair,AG_Flair,Flair
9,AG Mobile,AG Go Tab Access 2,AG_Go_Tab_Access_2,AG_Go_Tab_Access_2

# Votre premier merge

In [14]:
result = pd.merge(user_usage,
                  user_device[['use_id', 'platform', 'device']],
                  on='use_id')
result

,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb,use_id,platform,device
0,21.97,4.82,1557.33,22787,android,GT-I9505
1,1710.08,136.88,7267.55,22788,android,SM-G930F
2,1710.08,136.88,7267.55,22789,android,SM-G930F
3,94.46,35.17,519.12,22790,android,D2303
4,71.59,79.26,1557.33,22792,android,SM-G361F
...,...,...,...,...,...,...
154,198.59,90.49,5191.12,23043,android,SM-G900F
155,198.59,90.49,3114.67,23044,android,SM-G900F
156,106.65,82.13,5191.12,23046,android,Moto G (4)
157,344.53,20.53,519.12,23049,android,SM-G900F
158,42.75,46.83,5191.12,23053,android,Vodafone Smart ultra 6

## Afficher la shape de vos dataset ainsi que celle du dataset de sortie

In [15]:
user_usage.shape

(240, 4)

In [16]:
user_device.shape

(272, 6)

In [17]:
result.shape

(159, 6)

## Afficher via value_counts les use_id présent dans le nouveau dataset ainsi que ceux non présent

In [18]:
user_usage['use_id'].isin(result['use_id']).value_counts()

True     159
False     81
Name: use_id, dtype: int64

## Le left merge

In [19]:
left_result = pd.merge(user_usage,
                       user_device[['use_id', 'platform', 'device']],
                       how="left")
left_result.shape

(240, 6)

In [20]:
left_result.isna().sum()

outgoing_mins_per_month     0
outgoing_sms_per_month      0
monthly_mb                  0
use_id                      0
platform                   81
device                     81
dtype: int64

In [21]:
left_result

,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb,use_id,platform,device
0,21.97,4.82,1557.33,22787,android,GT-I9505
1,1710.08,136.88,7267.55,22788,android,SM-G930F
2,1710.08,136.88,7267.55,22789,android,SM-G930F
3,94.46,35.17,519.12,22790,android,D2303
4,71.59,79.26,1557.33,22792,android,SM-G361F
...,...,...,...,...,...,...
235,260.66,68.44,896.96,25008,NaN,NaN
236,97.12,36.50,2815.00,25040,NaN,NaN
237,355.93,12.37,6828.09,25046,NaN,NaN
238,632.06,120.46,1453.16,25058,NaN,NaN
239,488.70,906.92,3089.85,25220,NaN,NaN

## Afficher la shape du dataset user_device, celle du dataset de sortie ainsi que les valeurs manquantes des colonnes monthly_mb et platform.

In [23]:
right_result = pd.merge(user_usage,
                       user_device[['use_id', 'platform', 'device']],
                       how="right")
right_result.shape

(272, 6)

In [24]:
right_result.isna().sum()

outgoing_mins_per_month    113
outgoing_sms_per_month     113
monthly_mb                 113
use_id                       0
platform                     0
device                       0
dtype: int64

## Outer merge

In [26]:
outer_result = pd.merge(user_usage,
                       user_device[['use_id', 'platform', 'device']],
                       how="outer")

outer_result.shape

(353, 6)